#head{
  background-color: rgba(169, 206, 251, 0.5);
  padding: 50px 0px 30px 0px;
  margin-top: 0px;
}

body{
  margin: 0 auto;
  background-color: rgba(225, 237, 252, 0.485);
  text-align:center;
}

p{
  font-size: 20px;
}

